.contents
  = render partial: "side_bar"
  .contents__chat
    .contents__chat__header
      .contents__chat__header__left
        .contents__chat__header__left-title
          = @group.name
        .contents__chat__header__left-member
          Members:
          - @group.users.each do |user|
            = user.name
      .editbutton
        %ul
          = link_to edit_group_path(@group.id), data: {"turbolinks" => false} do
            %li.contents__chat__header-btn
              Edit
    .contents__chat__messages
      = render @messages
      -# .contents__chat__messages__message
      -#   .contents__chat__messages__message__upper
      -#     %p.contents__chat__messages__message__upper-user しゅうと
      -#     %p.contents__chat__messages__message__upper-date 2019/08/21(Wed) 15:00:00
      -# %p.contents__chat__messages__message-text test!
    .contents__chat__bottom
      = form_for [@group, @message],class: 'contents__chat__bottom__form' do |f|
        .contents__chat__bottom__form-box-message
          = f.text_field :content, class: 'contents__chat__bottom__form-box', placeholder: 'type a message'
          = f.label :image, class: 'contents__chat__bottom__form-box-message-picture' do
            = fa_icon 'picture-o', class: 'contents__chat__bottom__form-box-message-picture-icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'contents__chat__bottom__form-box-submit'
